.button {
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    &:hover {
        cursor: pointer;
    }

    &--primary {
        background-color: hsl(175, 54%, 45%);
        &:hover {
            background-color: hsl(175, 54%, 50%);
        }
        &:active {
            background-color: hsl(175, 54%, 40%);
        }
    }
    &--secondary {
        background-color: hsl(313, 54%, 45%);

        &:hover {
            background-color: hsl(313, 54%, 50%);
        }
        &:active {
            background-color: hsl(313, 54%, 40%);
        }
    }
}
