.home {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    &__button-groups {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
